body {
    background-color: #EEEEEE;
}

.top-heading {
    margin-bottom:0;
    background-image: url(/images/panorama.jpg);
    background-size: cover;
    color: #ffffff;
    min-height: 310px;
}

.info-text {
    text-align: center;
}

.info-text-title {
    font-size: 22pt;
    font-weight: 500;
}

.info-text-text {
    color: #707070;
}