body {
    background-color: #FEFADE;
}

.top-heading {
    margin-bottom:0;
    background-image: url(/images/panorama3.jpg);
    background-position-x: center;
    background-size: cover;
    color: #ffffff;
    height: 332px;
    font-family: 'El Messiri', sans-serif;
    /*font-family: 'Comfortaa', cursive;*/
    /*font-family: 'Lobster', cursive;*/
    /*text-shadow: 13px -13px 8px #aaa;*/
}
.top-heading h1 {
    font-size: 3em;
}

.info-text {
    margin-bottom: 27px;
}

.info-text-title {
    font-size: 24pt;
    font-weight: 500;
    margin-bottom: 0px;
}

.info-text-text {
    color: #606060;
}

@media screen  and (max-width: 991px) {
    .description-heading {
        text-align: center;
    }
}

.description-heading-center {
    text-align: center;
}

.right-description p {
    font-size: 15px;
}
.left-models p {
    font-size: 15px;
}

.new-hr {
    margin-top: 65px;
    width: 40vW;
    border: solid 1px;
}

.footer-style {
    margin-top: 20px;
    color: white;
}

.footer-style p {
    color: #a0a0a0;
}


.footer-style>div {
    padding-left: 50px;
}

.carousel-bordered {
    border: 1px solid #a0a0a0;
    padding: 10px;
    margin: 10px;
}

.carousel-indicators li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #404040;
}

.carouselImages .carousel-item img {
    border-radius: 50%;
}

.navbar {
    /*background-color: #F6EBA5;*/
    background-color: #61A185;
}

@media screen and (max-width: 991px) {
    .plank-text {
        border: 1px solid #F6EBA5;
        background-color: #FEF8CC;
    }
}

.nav-logo {
    height: 50px;
    position: absolute;
    top: 3px;
    left: 10vw;
    background-color: white;
    padding: 7px;
    border-radius: 10px;
}
.footer-logo {
    height: 70px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}
.nav-logo {
    height: 50px;
    position: absolute;
    top: 3px;
}

.top-tower {
    position: absolute;
    z-index: 2000;
}

@media screen and (min-width: 991px) {
    .nav-logo {
        left: 140px;
    }
    .top-tower {
        left: -56px;
        top: -23px;
        height: 400px;
    }
}
@media screen and (max-width: 991px) {
    .nav-logo {
        left: 75px;
    }
    .top-tower {
        left: -100px;
        height: 350px;
        top: 22px;
    }
}

.carousel-margins {
    margin-left: 20px;
    margin-right: 20px;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 40px;
    height: 40px;
}

.full-width-image {
    max-width: 100%;
}

.ul-new {
    padding-left: 0px;
    list-style-position: inside;
}

.link-style {
    color: #a0a0a0;
}
.link-style:hover {
    color: #a0a0a0;
}

.link-black {
    color: rgb(33, 37, 41);
}
.link-black:hover {
    color: rgb(33, 37, 41);
}

.link-white {
    color: white;
}
.link-white:hover {
    color: white;
}
.modelsTable td {
    border: #888888 solid 1px;
}

.nav-link {
    color: rgba(255,255,255,.9)!important;
}

.navbar-light .navbar-nav .active>.nav-link {
    font-weight: 600;
    border-bottom: 2px solid white;
    position: relative;
}

.certificates-div img {
    height: 100%;
    width: auto;
}
.certificates-div>div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.lang-selector {
    position: absolute;
    top: 170px;
    right: 6px;
}
.lang-selector-a {
    color: white;
    background-color: rgba(255,255,255,0.4);
}
.lang-selector-a:hover {
    color: #61A185;
}

.lang-selector-active {
    background-color: rgba(255,255,255,0.6);
}

.blue-text {
    color: #217bff!important;
}